* {
    margin: 0;
    padding: 0;
}

.main-cont {
    width: 87.5vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 21.875vw 21.875vw 21.875vw 21.875vw;
    grid-template-rows: 50vh 50vh;
}

.item {  border: 1px solid #e5e4e9;}